numpy==1.19.2
pandas==1.1.5
matplotlib==3.3.4
scikit-image==0.17.2
scipy==1.5.2
cv2==3.3.1
pywt==1.1.1
mahotas==1.4.11
researchpy
sklearn==0.24.1
pymrmr==0.1.1
openpyxl==3.0.5
tqdm==4.56.0
xlrd==1.2.0
pyfeats==0.0.11